.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 14px 30px;
    background-color: #ffffff;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.08);
    position: sticky;
    top: 0;
    z-index: 1000;
}

.logo {
    height: 75px;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.logo:hover {
    transform: scale(1.05);
}


.nav-links {
    list-style: none;
    display: flex;
    gap: 32px;
    margin: 0;
    padding: 0;
}

.nav-links li a {
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    color: #333333;
    transition: color 0.3s ease, transform 0.3s ease;
    display: inline-block;
}

.nav-links li a:hover {
    color: #2563eb;
    transform: translateY(-2px);
}



.login-btn {
    padding: 12px 28px;
    font-size: 15px;
    font-weight: 600;
    color: #ffffff;
    background-color: #3c6fde;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.login-btn:hover {
    background-color: #1e40af;
    transform: scale(1.05)
}



