.footer {
  background-color: #020f2c;
  color: #e5e7eb;
  padding: 60px 200px  30px ;
  font-family: "Inter", system-ui, sans-serif;
}

.footer-top {
  display: flex;
  justify-content: space-between;
  gap: 50px;
  flex-wrap: wrap;
  padding-bottom: 30px;
}

.footer-col {
  flex: 1;
  min-width: 170px;
}



.footer-logo {
  height: 40px;
  margin-bottom: 16px;
}

.footer-desc {
  font-size: 14px;
  line-height: 1.6;
  margin-bottom: 16px;
  color: #ffffff;
}

.footer-contact p {
  font-size: 14px;
  margin-bottom: 8px;
}

.footer-col h4 {
  font-size: 16px;
  margin-bottom: 16px;
}

.footer-col ul {
  list-style: none;
  padding: 0;
}

.footer-col ul li {
  margin-bottom: 12px;
}

.footer-col ul li a {
  font-size: 14px;
  color: #ffffff;
  text-decoration: none;
  transition: color 0.3s ease, transform 0.3s ease;
  display: inline-block;
}

.footer-col ul li a:hover {
  color: #38bdf8;
  transform: translateY(-3px);
}

.footer-newsletter {
  display: flex;
  flex-wrap: wrap;       
  justify-content: space-between;
  align-items: center;
  padding: 30px;
  background-color: #181c30;
  border-radius: 10px;
  margin-bottom: 40px;
  gap: 20px;             
}


.newsletter-text h3 {
  margin-bottom: 6px;
}

.newsletter-text p {
  font-size: 14px;
  color: #cbd5f5;
  max-width: 400px;    
}


.newsletter-form {
  display: flex;
  flex-wrap: wrap;       
  gap: 12px;
  flex: 1;                
  min-width: 200px;       
}

.newsletter-form input {
  padding: 12px 16px;
  border-radius: 6px;
  border: none;
  outline: none;
  flex: 1 1 200px;        
  min-width: 150px;
  background-color: #020d27;
  color: #fff;
}

.newsletter-form button {
  padding: 12px 22px;
  background-color: #2563eb;
  color: #fff;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: transform 0.3s ease, background-color 0.3s ease;
  flex-shrink: 0;         
}

.newsletter-form button:hover {
  background-color: #1e40af;
  transform: scale(1.05);
}



.footer-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
  border-top: 1px solid #1e293b;
  padding-top: 20px;
}

.footer-links {
  display: flex;
  gap: 20px;
}

.footer-links a {
  color: #cbd5f5;
  text-decoration: none;
}

.footer-links a:hover {
  color: #38bdf8;
}




